#include <windows.h>
#include <CommCtrl.h>
#include "GridDialogDef.h"

ID_GRID_DIALOG DIALOG DISCARDABLE 0, 0, 454, 127
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "SelectItem"
FONT 10, "Ms Shell Dlg"
{
    DEFPUSHBUTTON "&Ok", IDOK, 11, 108, 50, 14
    PUSHBUTTON "&Cancel", IDCANCEL, 66, 108, 50, 14
    CONTROL "", ID_GRID_DIALOG_GRID, WC_LISTVIEW, WS_CHILD | LVS_REPORT | LVS_EDITLABELS | WS_VISIBLE, 0, 1, 453, 106
}