#include <windows.h>
#include "ListBoxDialogDef.h"

ID_LIST_BOX_DIALOG DIALOG DISCARDABLE 0, 0, 454, 127
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "SelectItem"
FONT 11, "Courier New"
{
    DEFPUSHBUTTON "&Ok", IDOK, 11, 108, 50, 14
    PUSHBUTTON "&Cancel", IDCANCEL, 66, 108, 50, 14
    LISTBOX ID_LIST_BOX, 5, 5, 444, 98, WS_TABSTOP | WS_VSCROLL | WS_HSCROLL | LBS_NOINTEGRALHEIGHT | LBS_NOTIFY

}