#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "TreeDialogDef.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
ID_TREE_DIALOG DIALOG 0, 0, 231, 158
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Tree view"
FONT 8, "Ms Shell Dlg"
{
    CONTROL         "", ID_TREE, WC_TREEVIEW, WS_TABSTOP | WS_BORDER | TVS_HASBUTTONS | TVS_LINESATROOT | TVS_HASLINES, 5, 5, 220, 130, WS_EX_LEFTSCROLLBAR
    PUSHBUTTON      "Cancel", IDCANCEL, 60, 140, 50, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 5, 140, 50, 14, 0, WS_EX_LEFT
}
